# Sistema
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
*.code-workspace

# Logs
*.log

# Docker
*.tar

# K8s
.kube/

# Helm
charts/pedido-app/charts/
charts/pedido-app/*.tgz

# Node
node_modules/

# Env
.env
.env.local

# Target
target/

# IDE
.idea/
*.iml